@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap');

:root {
  --golden: rgb(209, 159, 72);
  --light-grey: rgb(242, 242, 242);
  --dark-grey: rgb(38, 38, 38);
  --section-height: 82px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.dark {
  color: var(--dark-grey);
}

.golden {
  color: var(--golden);
}

.cursive {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 8rem;
  color: var(--golden);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  backdrop-filter: brightness(65%);
}

nav {
  display: flex;
  justify-content: center;
  height: var(--section-height);
  border-bottom: 2px solid var(--golden);
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

li {
  color: white;
  margin: 0 20px;
}

li:hover {
  border-bottom: 2px solid var(--golden);
  padding: 4px 0;
  cursor: pointer;
}

main {
  text-align: center;
}

article {
  max-width: 490px;
}

#menu,
#about {
  background: var(--light-grey);
  height: calc(100vh - var(--section-height) * 2);
  overflow: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  white-space: pre-line;
  max-width: 620px;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  margin-top: -88px;
}

h2 {
  margin: 8px;
}

hr {
  width: 284px;
  border: 2px solid var(--golden);
  margin: 24px auto;
}

article hr {
  border: 1px solid var(--golden);
}

.description {
  color: white;
}

button {
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--golden);
  padding: 16px;
  margin-top: 40px;
  cursor: pointer;
}

button:hover {
  color: white;
}

footer {
  height: var(--section-height);
  border-top: 2px solid var(--golden);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer p {
  color: white;
}

footer a {
  display: flex;
}

@media only screen and (max-width: 560px) {
  :root {
    --section-height: 55px;
  }

  .cursive {
    font-size: 6.6rem;
  }

  h1 {
    font-size: 3rem;
    margin-top: -68px;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 408px) {
  :root {
    --section-height: 50px;
  }

  .cursive {
    font-size: 6rem;
  }

  h1 {
    font-size: 2.6rem;
    margin-top: -63px;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  footer p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 360px) {
  :root {
    --section-height: 50px;
  }

  .cursive {
    font-size: 5rem;
  }

  h1 {
    font-size: 2.2rem;
    margin-top: -51px;
  }

  button {
    font-size: 0.85rem;
    padding: 14px;
  }
}